/* 
    Document   : Formatting
    Created on : Jul 16, 2013, 4:46:46 PM
    Author     : vavila
    Description:
        Purpose of the stylesheet follows.
*/

html { 
    display: block;
    font-size: 16px;
}

body {
    font-size: 1em;
    width:88em;
    height: 40em;
    margin:auto;
    margin-top: 2em;
    border: 1px lightgrey solid;
} 
.text {
    display: inline-block;
    height: 40em;
    width: 88em;
    line-height: 2.5em;
    box-shadow: 3px 3px 5px lightgray; 
    background-color: #FAF0E6;
}

div#textL {
    display: inline-block;
    height: 40em;
    width:40em;
    overflow-x: hidden; 
    overflow-y: hidden; 
    padding-left:3em;
    padding-right:.75em;
    border-right: 2px grey solid;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(left, #FAF0E6 95%, #303030 110.00000000000001%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(left, #FAF0E6 95%, #303030 110.00000000000001%);

    /* Opera */ 
    background-image: -o-linear-gradient(left, #FAF0E6 95%, #303030 110.00000000000001%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right top, color-stop(.95, #FAF0E6), color-stop(1.1, #303030));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(left, #FAF0E6 95%, #303030 110.00000000000001%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to right, #FAF0E6 95%, #303030 110.00000000000001%);
}

div#textR {
    display: inline-block;
    height: 40em;
    width:40em;
    overflow-x: hidden; 
    overflow-y: hidden; 
    padding-right:3em;
    padding-left: .75em;
    margin-left: -7px;
    border-left: 1px grey solid;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(right, #FAF0E6 95%, #303030 110.00000000000001%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(right, #FAF0E6 95%, #303030 110.00000000000001%);

    /* Opera */ 
    background-image: -o-linear-gradient(right, #FAF0E6 95%, #303030 110.00000000000001%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, right top, left top, color-stop(.95, #FAF0E6), color-stop(1.1, #303030));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(right, #FAF0E6 95%, #303030 110.00000000000001%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to left, #FAF0E6 95%, #303030 110.00000000000001%);
}


.button {
    position: absolute;
    top: 2em;
    height: 40em;
    width: 88em;
    z-index: 100;
}

#left {  
}

#right {
    position: absolute;
    left:82em;

}

#right, #left {
    position: inherit;
    width: 6em;
    opacity:0.0;
    background:grey;
    z-index:110; 
    height:40em;
    transition: opacity .5s;

}

#right:hover, #left:hover {
    visibility:visible;
    opacity: 0.3;
}


h1 {
    font-size: 1em;
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-weight: normal;
}

h2 {
    font-size: 1em;
    text-align: right;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-weight: normal
}
/*the first p*/
p {
    margin:0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h2+p:first-letter {
    vertical-align: baseline;
    font-size: 1em;
}
/*for p after the first p*/
p+p {
    text-indent: 2em;
}

@media print {
    body{ font-size: 10pt}
    h1{font-size: 2em}
    .stars{font-size: 2em}
    first{font-size: 2em}
}

@media (max-width: 1375px), (max-height:650px),handheld {
    html { 
        display: block;
        font-size: 12px;
    }

    body {
        font-size: 1em;
        width:40em;
        margin:auto; 
        margin-top: 2em;
    } 

    .text {
        background: #f5ebe4;
        line-height: 2.5em;
        width: 40em;
        margin:0px 0px 0px 0px;
    }

    div#textL {
        position:inherit;
        height: 40em;
        width:40em;
        border: grey 1px solid;
        background-color: antiquewhite;
        overflow-y: hidden; 
        padding-left:0.5em;
        padding-right: 0.5em;
        margin: 0px 0px 0px 0px;
    }
    div#textR {
        display:none;
        visibility:hidden;
    }
    .button {
        position: absolute;
        margin: auto;
        top: 2em;
        height: 40em;
        width: 40em;
        z-index: 100;
    }

    #left {  
        margin-right: 0;
    }

    #right {
        position: absolute;
        left:35em;

    }

    #right, #left {
        position: inherit;
        width: 6em;
        opacity:0.0;
        background:grey;
        z-index:110; 
        height:40em;
        transition: opacity .5s;

    }

    #right:hover, #left:hover {
        visibility:visible;
        opacity: 0.3;
    }


    h1 {
        font-size: 1em;
        text-align: center;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-weight: normal;
    }

    h2 {
        font-size: 1em;
        text-align: right;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-weight: normal
    }
    /*the first p*/
    p {
        margin:0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

    h2+p:first-letter {
        vertical-align: baseline;
        font-size: 1em;
    }
    /*for p after the first p*/
    p+p {
        text-indent: 2em;
    }

}
